/* Menu Hero Section 1 */

.hero_menu_section {
  position: relative;
  background: url(../assets//hero/hero-1.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 170px;
  padding-bottom: 90px;
  height: 450px;
}

.menu_hero_text h1 {
  font-family: var(--lilita-font);
  font-size: 3.5rem;
  font-weight: 400;
  color: var(--bg-coffee);
  margin-bottom: 20px;
}

/* Menu Section 2 */

.Menu_section2 {
  padding: 60px 20px;
  background: var(--light-grey);
  background-size: cover;
}

.Menu_section2 h2 {
  font-size: 2.5rem;
  margin-bottom: 25px;
}

.Menu_section2 p {
  font-size: 1.125rem;
}

.Menu_section2 .section_title {
  font-size: 16px;
  font-weight: 700;
  color: var(--yellow);
}

.nav-link {
  position: relative;
  transition: all 0.3s ease;
}

.nav-link.active {
  background-color: var(--yellow);
  color: var(--light-black);
}

.nav-link.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -9px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--yellow);
}

#nav-tab button {
  padding: 6px 35px;
  font-size: 16px;
  font-weight: 600;
  color: var(--light-black);
}

@media (max-width: 992px) {
  .Menu_section2 {
    padding: 40px 15px;
  }
  .Menu_section2 h2 {
    font-size: 22px;
    line-height: 1.4;
    padding-top: 15px;
  }
  #nav-tab {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  #nav-tab button {
    padding: 6px 6px;
  }
}

/* Menu Section 3 */

.menu_section3 {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.menu_section3 h2 {
  font-size: 3.8rem;
  margin-bottom: 25px;
  font-weight: 400;
}

.menu_section3 .section_title {
  font-size: 16px;
  font-weight: 700;
  color: var(--yellow);
}

.card_container .cards {
  background: white;
  height: 408px;
  width: 330px;
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: hidden;
  transition: all 15ms ease-in-out;
  -webkit-transition: all 15ms ease-in-out;
  -moz-transition: all 15ms ease-in-out;
  -o-transition: all 15ms ease-in-out;
  -ms-transition: all 15ms ease-in-out;
}

.card_container .cards-2 {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s ease-in-out;
}

.card_container .cards:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s ease-in-out;
}

.card_container .cards .cards-icons {
  font-size: 5rem;
}

.card_container .cards h5 a {
  text-decoration: none;
  color: var(--light-black);
  font-family: sans-serif;
  font-weight: 600;
  transition: all 15ms ease-in-out;
  -webkit-transition: all 15ms ease-in-out;
  -moz-transition: all 15ms ease-in-out;
  -o-transition: all 15ms ease-in-out;
  -ms-transition: all 15ms ease-in-out;
}
